@import url("https://fonts.googleapis.com/css?family=Lato:100italic,300italic,700italic,100,300,900");
@import url("https://fonts.googleapis.com/css?family=Fanwood+Text:400,400italic");
@import url("https://fonts.googleapis.com/css?family=Laila:400&subset=devanagari");
@import url("https://fonts.googleapis.com/css?family=Yantramanav:300,900&subset=devanagari");
@import url("https://fonts.googleapis.com/earlyaccess/notosansmalayalamui.css");
@font-face {
  font-family: 'fontello';
  src: url("../fonts/icons/fontello.eot?7377288");
  src: url("../fonts/icons/fontello.eot?7377288#iefix") format('embedded-opentype'), url("../fonts/icons/fontello.woff2?7377288") format('woff2'), url("../fonts/icons/fontello.woff?7377288") format('woff'), url("../fonts/icons/fontello.ttf?7377288") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Keraleeyam';
  src: url("../fonts/ml/Keraleeyam.eot");
  src: local('Keraleeyam'), url("../fonts/ml/Keraleeyam.eot?#iefix") format('embedded-opentype'), url("../fonts/ml/Keraleeyam.woff") format('woff'), url("../fonts/ml/Keraleeyam.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-0D7E;
}
@font-face {
  font-family: "Hanazono Mincho";
  src: url("../fonts/jp/HanaMinA.eot"); /* IE9 */
  src: local('HanaMinA'), url("../fonts/jp/HanaMinA.eot?#iefix") format("embedded-opentype"), url("../fonts/jp/HanaMinA.woff") format("woff"), url("../fonts/jp/HanaMinA.ttf") format("truetype"); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "cwTeXQMing";
  src: url("../fonts/zh/cwTeXQMing-Medium.eot"); /* IE9 */
  src: url("../fonts/zh/cwTeXQMing-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/zh/cwTeXQMing-Medium.woff") format("woff"), url("../fonts/zh/cwTeXQMing-Medium.ttf") format("truetype"), url("../fonts/zh/cwTeXQMing-Medium.svg#cwTeXQMing") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "AR PL UMing CN";
  src: url("../fonts/zh/uming0.eot"); /* IE9 */
  src: url("../fonts/zh/uming0.eot?#iefix") format("embedded-opentype"), url("../fonts/zh/uming0.woff") format("woff"), url("../fonts/zh/uming0.ttf") format("truetype"), url("../fonts/zh/uming0.svg#AR PL UMing CN") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Nanum Myeongjo";
  src: url("../fonts/kr/NanumMyeongjo-Regular.eot"); /* IE9 */
  src: local("Nanum Myeongjo"), url("../fonts/kr/NanumMyeongjo-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/kr/NanumMyeongjo-Regular.woff") format("woff"), url("../fonts/kr/NanumMyeongjo-Regular.ttf") format("truetype"), url("../fonts/kr/NanumMyeongjo-Regular.svg#Nanum Myeongjo") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}
#loading-mask {
  position: fixed;
  height: 200vh;
  width: 100vw;
  background: #fff;
  z-index: 100;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#loading-mask.show {
  opacity: 1;
}
#fullpage {
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.vert-center-wrapper {
  top: 0;
  left: 0;
  position: absolute;
  display: table;
  height: 100%;
  width: 100%;
  padding: 3% 4%;
  padding-bottom: calc(3% + 40px);
}
@media only screen and (max-width: 775px) {
  .vert-center-wrapper {
    padding-top: 5%;
    padding-bottom: calc(5% + 40px);
  }
}
@media only screen and (max-width: 400px) {
  .vert-center-wrapper {
    padding-bottom: calc(5% + 30px);
  }
}
.vert-center-wrapper .content {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.vert-center-wrapper .content .top,
.vert-center-wrapper .content .bottom {
  position: absolute;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.vert-center-wrapper .content .top {
  top: 0px;
  left: 50%;
}
.vert-center-wrapper .content .bottom {
  bottom: 0px;
  left: 50%;
}
#top-bubble,
#bottom-bubble {
  font-style: italic;
  font-weight: 100;
  -webkit-text-stroke-width: 0.1px;
}
.multilingual,
.swap-language,
.swap-language p {
  font-weight: 100;
}
.multilingual:lang(hi),
.swap-language:lang(hi),
.swap-language p:lang(hi) {
  font-family: "Yantramanav", "Kohinoor Devanagari", "Lato";
}
.multilingual:lang(ml),
.swap-language:lang(ml),
.swap-language p:lang(ml) {
  font-family: "ML-NILA 05", "Rachana", "Meera", "Noto Sans Malayalam", sans-serif;
}
.multilingual:lang(jp),
.swap-language:lang(jp),
.swap-language p:lang(jp) {
  font-family: 'Lato', 'Kozuka Gothic Pro', 'Source Han Sans JP', 'Heiti SC', 'STHeitiSC', 'Hiragino Gothic Pro', 'Arial', 'Helvetica', sans-serif;
  -webkit-text-stroke-width: 0;
}
.multilingual:lang(kr),
.swap-language:lang(kr),
.swap-language p:lang(kr) {
  font-family: 'Lato', 'Apple SD Gothic Neo', 'Nanum Gothic', 'Source Han Sans KR', 'Arial', 'Helvetica', sans-serif;
  -webkit-text-stroke-width: 0;
}
.multilingual:lang(zh-CN),
.swap-language:lang(zh-CN),
.swap-language p:lang(zh-CN) {
  font-family: 'Lato', "Source Han Sans SC", 'Source Han Sans', "PingFang SC", 'Heiti SC', 'STHeitiSC', "Hiragino Sans GB", 'STXihei', "华文细黑", 'SimHei', 'Microsoft YaHei', '微软雅黑', sans-serif;
  -webkit-text-stroke-width: 0;
}
.multilingual:lang(zh-TW),
.swap-language:lang(zh-TW),
.swap-language p:lang(zh-TW) {
  font-family: 'Lato', 'Source Han Sans TWHK', 'Source Han Sans', "Lantinghei TC", "PingFang TC", 'Heiti TC', 'STHeitiTC', 'Arial', 'Helvetica', sans-serif;
  -webkit-text-stroke-width: 0;
}
.multilingual:lang(ml),
.swap-language:lang(ml),
.swap-language p:lang(ml) {
  font-family: 'Noto Sans Malayalam', 'Noto Sans Malayalam UI', 'Lato', sans-serif;
  -webkit-text-stroke-width: 0;
}
.swap-language:lang(kr),
.swap-language p:lang(kr) {
  font-family: "Nanum Myeongjo";
}
@media only screen and (max-width: 400px) {
  .button {
    height: 30px;
    width: 30px;
    font-size: 1em;
  }
}
#language-panel {
  top: 0;
  -webkit-border-radius: 0 0 30px 30px;
  -moz-border-radius: 0 0 30px 30px;
  border-radius: 0 0 30px 30px;
}
h1 {
  font-weight: 100;
  -webkit-text-stroke-width: 0.1px;
  white-space: nowrap;
  position: relative;
}
h2 {
  color: #eda14a;
  font-weight: 300;
  margin: 0 10px 10px;
  border-bottom: 0.5px solid #f6c475;
}
@media only screen and (max-width: 900px) {
  h2 {
    font-size: 1.25rem;
  }
}
.content.text h1 {
  top: -20px;
}
.content.text h1 .line-break {
  display: none;
}
@media only screen and (min-width: 1081px) {
  .content.text h1 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 900px) {
  .content.text h1 {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 775px) {
  .content.text h1 {
    line-height: 2;
  }
  .content.text h1 .line-break {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  .content.text h1 {
    font-size: 1.5rem;
    font-weight: 300;
    -webkit-text-stroke-width: 0;
  }
}
@media only screen and (max-width: 400px) {
  .content.text h1 {
    font-size: 1rem;
  }
}
.content.text h1,
.content.text .claire-face {
  display: inline-block;
}
@media only screen and (max-width: 900px) {
  .content.text h1,
  .content.text .claire-face {
    display: block;
    top: 0;
  }
}
.content.text h1 .swap-language:not(:lang(en)),
.content.text .claire-face .swap-language:not(:lang(en)) {
  display: none;
}
.content.text .claire-face {
  margin: 0 10px 0 0;
  position: relative;
  width: 125px;
  height: 145.83333333333334px;
  top: 40px;
}
.content.text .claire-face.nudge-left {
  margin: 0 10px 0 -15px;
}
@media only screen and (max-width: 900px) {
  .content.text .claire-face.nudge-left {
    margin: 0 auto 5px;
  }
}
@media only screen and (min-width: 1081px) {
  .content.text .claire-face {
    height: 145.83333333333334px;
  }
}
@media only screen and (max-width: 900px) {
  .content.text .claire-face {
    top: 0;
    margin: 0 auto 5px;
    width: 125px;
    height: 145.83333333333334px;
  }
}
@media only screen and (max-width: 400px) {
  .content.text .claire-face {
    width: 100px;
    height: 116.66666666666667px;
  }
}
.content.text .promo-text {
  width: 80%;
  margin: 0 auto;
  padding: 10px 10px 40px 10px;
  max-width: 800px;
}
.content.text .promo-text:not(:lang(en)) {
  display: none;
}
@media only screen and (max-width: 900px) {
  .content.text .promo-text {
    padding: 10px;
  }
}
.content.text .promo-text p {
  font-weight: 300;
  -webkit-text-stroke-width: 0;
  font-size: 1.2rem;
  margin: 1em auto;
}
@media only screen and (min-width: 1081px) {
  .content.text .promo-text p {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 900px) {
  .content.text .promo-text p {
    font-size: 1.2rem;
  }
}
@media only screen and (orientation: landscape) and (max-width: 800px) {
  .content.text .promo-text p {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 775px) {
  .content.text .promo-text p {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 600px) {
  .content.text .promo-text p {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 400px) {
  .content.text .promo-text p {
    font-size: 0.65rem;
    font-weight: 300;
  }
}
.content.text .promo-text p strong {
  color: #eda14a;
  font-weight: 900;
}
.content.text .promo-text a.external {
  display: inline-block;
  white-space: nowrap;
  background: #bae481;
  color: #fff;
  padding: 0.1em 0.3em 0.2em;
  font-weight: 900;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.content.text .promo-text a.external:after {
  margin-left: 0.3em;
  font-family: 'fontello';
  content: '\e80c';
}
.content.text .promo-text a.external.active {
  background: #e5f9ca;
  color: #a4d462;
}
.emph {
  display: inline;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px 8px;
  font-weight: 700;
  margin: 0 10px;
}
.emph.pink {
  background: #ffe3e8;
  color: #ff809e;
}
.emph.purple {
  background: #ece9ff;
  color: #9081de;
}
.emph.dark-purple {
  background: #9081de;
  color: #fff;
}
.correction {
  display: inline-block;
  position: relative;
  line-height: 1.5;
}
.correction .added-word {
  display: inline-block;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 10px;
  background: #9081de;
  color: #fff;
  font-weight: 700;
  top: -10px;
  margin: 0 10px;
  z-index: 10;
}
@media only screen and (min-width: 1081px) {
  .correction .added-word {
    top: -20px;
  }
}
.correction .deleted-word {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
  position: absolute;
  left: 25%;
  top: 40%;
  color: #ff809e;
  font-size: 0.9em;
  font-weight: 300;
  text-decoration: line-through;
}
#no-old-android > div {
  display: table;
  margin: 10px auto 40px;
}
@media only screen and (max-width: 900px) {
  #no-old-android > div {
    margin: 10px auto 30px;
  }
}
#no-old-android img,
#no-old-android .icon {
  height: 50px;
  width: 50px;
  vertical-align: middle;
  margin: 0 5px;
}
@media only screen and (max-width: 900px) {
  #no-old-android img,
  #no-old-android .icon {
    height: 35px;
    width: 35px;
  }
}
#no-old-android .icon:last-child {
  margin: 0 0 0 5px;
}
#no-old-android a img:hover,
#no-old-android a img:active {
  -webkit-transform: scale(1.25, 1.25);
  -moz-transform: scale(1.25, 1.25);
  -ms-transform: scale(1.25, 1.25);
  -o-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}
#no-old-android .android {
  display: inline-block;
  position: relative;
}
#no-old-android .version {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
  -moz-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  -o-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  padding: 0 5px;
  font-size: 1rem;
  font-weight: 900;
  background: #ccc;
  color: #fff;
  -webkit-border-radius: 5px 0 5px 0;
  -moz-border-radius: 5px 0 5px 0;
  border-radius: 5px 0 5px 0;
}
@media only screen and (max-width: 900px) {
  #no-old-android .version {
    font-size: 0.75rem;
  }
}
#no-old-android .icon {
  font-size: 2rem;
  font-family: 'fontello';
  display: inline-block;
}
@media only screen and (max-width: 900px) {
  #no-old-android .icon {
    font-size: 1.5rem;
  }
}
#no-old-android .icon.check:after {
  color: #a4d462;
  content: '\e800';
}
#no-old-android .icon.plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#no-old-android .icon.plus:after {
  color: #ccc;
  content: '\e80a';
}
#no-old-android .icon.cross:after {
  color: #ff809e;
  content: '\e80a';
}
#hello {
  display: table;
  width: 100%;
  max-width: 1000px;
  margin: -25vh auto 0;
  white-space: nowrap;
}
#hello > * {
  display: table-cell;
  vertical-align: middle;
}
#hello-left {
  width: 15%;
  font-family: 'Fanwood Text', 'Fanwood', serif;
  font-size: 2rem;
  margin-top: -0.75rem;
  margin-right: 0.5em;
}
#hello-center.claire-face {
  background-position: center;
}
#hello-right {
  padding: 0 20px 0 0;
}
#hello-right #top-bubble {
  width: 100%;
  margin: -1rem 0 0 0;
  font-size: 2rem;
}
@media only screen and (max-width: 1080px) {
  #hello-left,
  #hello-right #top-bubble {
    font-size: 3vw;
  }
}
@media only screen and (orientation: portrait) {
  #hello {
    width: 80%;
    margin: -15vh auto 0;
  }
  #hello > * {
    display: block;
    width: 100%;
  }
  #hello-left {
    font-size: 2rem;
  }
  #hello-right {
    margin: 30px 0 0;
    padding: 0;
  }
  #hello-right #top-bubble {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 400px) {
  #hello {
    width: 100%;
  }
  #hello-left {
    font-size: 7vw;
  }
  #hello-center {
    width: 150px;
    height: 175px;
    margin: 0 auto;
  }
  #hello-right {
    width: 95%;
    margin: 5vh auto 0;
  }
  #hello-right #top-bubble {
    font-size: 5vw;
    padding: 15px 10px;
    text-align: left;
  }
}
#bottom-bubble {
  white-space: nowrap;
  background: #fff;
  margin: 0 auto 20vh;
  bottom: 0;
  font-size: 1.5rem;
}
#bottom-bubble .line-break {
  display: none;
}
@media only screen and (max-width: 1080px) {
  #bottom-bubble {
    margin: 0 auto 15vh;
    font-size: 2vw;
  }
}
@media only screen and (orientation: portrait) {
  #bottom-bubble {
    margin: 0 auto;
    font-size: 1rem;
    border: none;
  }
  #bottom-bubble .line-break {
    display: block;
  }
}
@media only screen and (max-width: 400px) {
  #bottom-bubble {
    width: 100%;
    font-size: 4vw;
    padding: 0 5px 25px;
  }
}
#acknowledgments ul {
  width: 150px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border-left: 1px solid #f4f4f4;
}
#acknowledgments ul:first-child {
  border: none;
}
@media only screen and (max-width: 1300px) {
  #acknowledgments ul {
    width: 200px;
  }
}
#acknowledgments ul li {
  margin: 0 auto;
  width: 75px;
  height: 75px;
  position: relative;
  font-size: 0.9rem;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1300px) {
  #acknowledgments ul li {
    display: inline-block;
    margin: 0 10px;
  }
}
#acknowledgments ul li.font a {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#acknowledgments ul li img {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 100%;
  height: auto;
}
#acknowledgments ul li:hover,
#acknowledgments ul li:active {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);
  z-index: 10;
}
#acknowledgments ul li:hover .tooltip,
#acknowledgments ul li:active .tooltip {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  opacity: 1;
  visibility: visible;
  margin: 0 0 0 10px;
}
#acknowledgments ul li .tooltip {
  visibility: hidden;
  border: 0.5px solid #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 20;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 75px;
  padding: 2px;
  margin: 0px;
  left: 100%;
  color: #fff;
  font-size: 0.75rem;
  background: #9081de;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#acknowledgments ul.legal {
  width: 450px;
  position: relative;
}
#acknowledgments ul.legal h2 {
  margin: 0 0 10px 10px;
}
@media only screen and (max-width: 1300px) {
  #acknowledgments ul.legal {
    border: none;
    width: 800px;
  }
  #acknowledgments ul.legal h2 {
    margin: 0 10px;
  }
}
#acknowledgments ul.legal ul {
  border: none;
  text-align: left;
  width: 100%;
}
#acknowledgments ul.legal ul li {
  font-size: 0.75rem;
  left: 0;
  padding: 0 10px;
  width: 100%;
  height: auto;
}
#acknowledgments ul.legal ul li:hover,
#acknowledgments ul.legal ul li:active {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
@media only screen and (max-width: 1300px) {
  #acknowledgments ul.legal ul li {
    width: 100%;
    padding: 0;
  }
}
@media only screen and (max-width: 900px) {
  #acknowledgments {
    width: 80vw;
    margin: 0 auto;
  }
  #acknowledgments ul.legal {
    margin: 0;
    width: 100%;
  }
  #acknowledgments ul.legal h2 {
    display: none;
  }
  #acknowledgments ul.legal div#legal-credits {
    margin-top: 10px;
    line-height: 0.75rem;
  }
  #acknowledgments ul.legal div#legal-credits li {
    font-size: 0.5em;
    margin: 0 auto;
    display: inline;
  }
  #acknowledgments ul {
    width: 100%;
    border-left: none;
    margin-top: 1vh;
  }
  #acknowledgments ul h2 {
    font-size: 1rem;
    text-align: left;
    display: inline-block;
    border-bottom: none;
    width: 20%;
    margin: 0;
    vertical-align: top;
    padding-top: 10px;
  }
  #acknowledgments ul li {
    height: 50px;
    width: 17%;
    margin: 0 0 0 3%;
  }
  #acknowledgments ul li:hover,
  #acknowledgments ul li:active {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  #acknowledgments ul li:hover .tooltip,
  #acknowledgments ul li:active .tooltip {
    margin: 20px 0 0 0;
  }
  #acknowledgments ul li img {
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  #acknowledgments ul li.font a {
    left: 0;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  #acknowledgments ul li .tooltip {
    text-align: left;
    padding: 5px 10px;
    width: auto;
    white-space: nowrap;
    top: 100%;
    left: 0;
  }
}
.lato {
  margin-top: -2px;
}
.fanwood {
  font-family: 'Fanwood Text', 'Fanwood', serif;
}
@media only screen and (max-width: 1300px) {
  .fanwood {
    font-size: 1.25rem !important;
  }
}
#hiw-aspect-ratio {
  position: relative;
  display: inline-block;
  width: 90%;
  max-height: 80vh;
  max-width: 1200px;
}
#hiw-aspect-ratio:after {
  padding-top: 66%;
  display: block;
  content: '';
}
#hiw-aspect-ratio #how-it-works {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#hiw-aspect-ratio #how-it-works > img {
  position: absolute;
}
#hiw-aspect-ratio #how-it-works > img:not(.science-arrow) {
  z-index: 10;
}
#hiw-aspect-ratio #how-it-works #science-scribble {
  left: 2%;
  top: 15%;
  width: 20%;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
#hiw-aspect-ratio #how-it-works #science-scribble.active {
  -webkit-transform: rotate(-8deg) scale(1.25);
  -moz-transform: rotate(-8deg) scale(1.25);
  -ms-transform: rotate(-8deg) scale(1.25);
  -o-transform: rotate(-8deg) scale(1.25);
  transform: rotate(-8deg) scale(1.25);
}
#hiw-aspect-ratio #how-it-works #science-scribble-to-dots {
  left: 21.5%;
  top: 16%;
  width: 4%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
#hiw-aspect-ratio #how-it-works #science-dots {
  left: 26.5%;
  top: 8%;
  width: 18%;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
}
#hiw-aspect-ratio #how-it-works #science-dots.active {
  -webkit-transform: rotate(5deg) scale(1.25);
  -moz-transform: rotate(5deg) scale(1.25);
  -ms-transform: rotate(5deg) scale(1.25);
  -o-transform: rotate(5deg) scale(1.25);
  transform: rotate(5deg) scale(1.25);
}
#hiw-aspect-ratio #how-it-works #science-dots-to-atom {
  left: 45.5%;
  top: 14%;
  width: 4%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
#hiw-aspect-ratio #how-it-works #science-atom {
  left: 51%;
  top: 8%;
  width: 18%;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
#hiw-aspect-ratio #how-it-works #science-atom.active {
  -webkit-transform: rotate(-3deg) scale(1.25);
  -moz-transform: rotate(-3deg) scale(1.25);
  -ms-transform: rotate(-3deg) scale(1.25);
  -o-transform: rotate(-3deg) scale(1.25);
  transform: rotate(-3deg) scale(1.25);
}
#hiw-aspect-ratio #how-it-works #science-atom-to-globe {
  left: 69.5%;
  top: 22%;
  width: 4%;
  -webkit-transform: rotate(65deg);
  -moz-transform: rotate(65deg);
  -ms-transform: rotate(65deg);
  -o-transform: rotate(65deg);
  transform: rotate(65deg);
}
#hiw-aspect-ratio #how-it-works #science-globe {
  left: 69%;
  top: 28%;
  width: 10%;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
#hiw-aspect-ratio #how-it-works #science-globe.active {
  -webkit-transform: rotate(3deg) scale(1.25);
  -moz-transform: rotate(3deg) scale(1.25);
  -ms-transform: rotate(3deg) scale(1.25);
  -o-transform: rotate(3deg) scale(1.25);
  transform: rotate(3deg) scale(1.25);
}
#hiw-aspect-ratio #how-it-works #science-wiki {
  left: 85%;
  top: 22%;
  width: 5%;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
#hiw-aspect-ratio #how-it-works #science-wiki.active {
  -webkit-transform: rotate(-10deg) scale(1.25);
  -moz-transform: rotate(-10deg) scale(1.25);
  -ms-transform: rotate(-10deg) scale(1.25);
  -o-transform: rotate(-10deg) scale(1.25);
  transform: rotate(-10deg) scale(1.25);
}
#hiw-aspect-ratio #how-it-works #science-wiki-to-globe {
  left: 80%;
  top: 30%;
  width: 4%;
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);
}
#hiw-aspect-ratio #how-it-works #science-ear {
  left: 87%;
  top: 32%;
  width: 5%;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}
#hiw-aspect-ratio #how-it-works #science-ear.active {
  -webkit-transform: rotate(10deg) scale(1.25);
  -moz-transform: rotate(10deg) scale(1.25);
  -ms-transform: rotate(10deg) scale(1.25);
  -o-transform: rotate(10deg) scale(1.25);
  transform: rotate(10deg) scale(1.25);
}
#hiw-aspect-ratio #how-it-works #science-ear-to-globe {
  left: 81.5%;
  top: 38%;
  width: 4%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#hiw-aspect-ratio #how-it-works #science-globe-to-depdots {
  left: 80%;
  top: 46.5%;
  width: 4%;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
#hiw-aspect-ratio #how-it-works #science-depdots {
  left: 79.5%;
  top: 54%;
  width: 18%;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg);
}
#hiw-aspect-ratio #how-it-works #science-depdots.active {
  -webkit-transform: rotate(1deg) scale(1.25);
  -moz-transform: rotate(1deg) scale(1.25);
  -ms-transform: rotate(1deg) scale(1.25);
  -o-transform: rotate(1deg) scale(1.25);
  transform: rotate(1deg) scale(1.25);
}
#hiw-aspect-ratio #how-it-works #science-depdots-to-syntagmas {
  left: 74%;
  top: 61%;
  width: 4%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#hiw-aspect-ratio #how-it-works #science-syntagmas {
  left: 53%;
  top: 57%;
  width: 20%;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
#hiw-aspect-ratio #how-it-works #science-syntagmas.active {
  -webkit-transform: rotate(-10deg) scale(1.25);
  -moz-transform: rotate(-10deg) scale(1.25);
  -ms-transform: rotate(-10deg) scale(1.25);
  -o-transform: rotate(-10deg) scale(1.25);
  transform: rotate(-10deg) scale(1.25);
}
#hiw-aspect-ratio #how-it-works #science-syntagmas-to-globe {
  left: 66%;
  top: 48%;
  width: 4%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
#hiw-aspect-ratio #how-it-works #science-syntagmas-to-checklist {
  left: 49%;
  top: 73%;
  width: 4%;
  -webkit-transform: rotate(160deg);
  -moz-transform: rotate(160deg);
  -ms-transform: rotate(160deg);
  -o-transform: rotate(160deg);
  transform: rotate(160deg);
}
#hiw-aspect-ratio #how-it-works #science-checklist {
  left: 32%;
  top: 70%;
  width: 15%;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
#hiw-aspect-ratio #how-it-works #science-checklist.active {
  -webkit-transform: rotate(3deg) scale(1.25);
  -moz-transform: rotate(3deg) scale(1.25);
  -ms-transform: rotate(3deg) scale(1.25);
  -o-transform: rotate(3deg) scale(1.25);
  transform: rotate(3deg) scale(1.25);
}
#hiw-aspect-ratio #how-it-works #science-checklist-to-result {
  left: 26%;
  top: 78%;
  width: 4%;
  -webkit-transform: rotate(190deg);
  -moz-transform: rotate(190deg);
  -ms-transform: rotate(190deg);
  -o-transform: rotate(190deg);
  transform: rotate(190deg);
}
#hiw-aspect-ratio #how-it-works #science-result {
  left: 12%;
  top: 70%;
  width: 18%;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
#hiw-aspect-ratio #how-it-works #science-result.active {
  -webkit-transform: rotate(-5deg) scale(1.25);
  -moz-transform: rotate(-5deg) scale(1.25);
  -ms-transform: rotate(-5deg) scale(1.25);
  -o-transform: rotate(-5deg) scale(1.25);
  transform: rotate(-5deg) scale(1.25);
}
#hiw-aspect-ratio #how-it-works #science-result-to-lightbulb {
  left: 6%;
  top: 68%;
  width: 4%;
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  transform: rotate(240deg);
}
#hiw-aspect-ratio #how-it-works #science-lightbulb {
  left: 2%;
  top: 45%;
  width: 10%;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
}
#hiw-aspect-ratio #how-it-works #science-lightbulb.active {
  -webkit-transform: rotate(5deg) scale(1.25);
  -moz-transform: rotate(5deg) scale(1.25);
  -ms-transform: rotate(5deg) scale(1.25);
  -o-transform: rotate(5deg) scale(1.25);
  transform: rotate(5deg) scale(1.25);
}
#hiw-caption-head,
#hiw-caption {
  width: 40%;
  display: block;
  text-align: left;
  position: absolute;
  left: 18%;
}
#hiw-caption-head {
  top: 32%;
}
#hiw-caption {
  top: 42%;
  font-style: italic;
  line-height: 1.5em;
}
@media only screen and (max-width: 1080px) {
  #hiw-caption-head {
    top: 28%;
  }
  #hiw-caption {
    top: 38%;
  }
}
@media only screen and (orientation: portrait) {
  #hiw-caption-head {
    margin: 0;
    text-align: center;
    top: -15%;
    left: 0;
    width: 100%;
  }
  #hiw-caption {
    text-align: center;
    top: 95%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 400px;
  }
}
@media only screen and (max-width: 600px) {
  #hiw-caption-head,
  #hiw-caption {
    font-size: 0.9em;
  }
}
.pulsate {
  -webkit-animation: pulsate 1s infinite linear;
  animation: pulsate 1s infinite linear;
}
@-moz-keyframes pulsate {
  0%, 100% {
    opacity: 0.4;
    -webkit-transform: translate(50%, -50%) scale(1);
    -moz-transform: translate(50%, -50%) scale(1);
    -ms-transform: translate(50%, -50%) scale(1);
    -o-transform: translate(50%, -50%) scale(1);
    transform: translate(50%, -50%) scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(50%, -50%) scale(1.25);
    -moz-transform: translate(50%, -50%) scale(1.25);
    -ms-transform: translate(50%, -50%) scale(1.25);
    -o-transform: translate(50%, -50%) scale(1.25);
    transform: translate(50%, -50%) scale(1.25);
  }
}
@-webkit-keyframes pulsate {
  0%, 100% {
    opacity: 0.4;
    -webkit-transform: translate(50%, -50%) scale(1);
    -moz-transform: translate(50%, -50%) scale(1);
    -ms-transform: translate(50%, -50%) scale(1);
    -o-transform: translate(50%, -50%) scale(1);
    transform: translate(50%, -50%) scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(50%, -50%) scale(1.25);
    -moz-transform: translate(50%, -50%) scale(1.25);
    -ms-transform: translate(50%, -50%) scale(1.25);
    -o-transform: translate(50%, -50%) scale(1.25);
    transform: translate(50%, -50%) scale(1.25);
  }
}
@-o-keyframes pulsate {
  0%, 100% {
    opacity: 0.4;
    -webkit-transform: translate(50%, -50%) scale(1);
    -moz-transform: translate(50%, -50%) scale(1);
    -ms-transform: translate(50%, -50%) scale(1);
    -o-transform: translate(50%, -50%) scale(1);
    transform: translate(50%, -50%) scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(50%, -50%) scale(1.25);
    -moz-transform: translate(50%, -50%) scale(1.25);
    -ms-transform: translate(50%, -50%) scale(1.25);
    -o-transform: translate(50%, -50%) scale(1.25);
    transform: translate(50%, -50%) scale(1.25);
  }
}
@keyframes pulsate {
  0%, 100% {
    opacity: 0.4;
    -webkit-transform: translate(50%, -50%) scale(1);
    -moz-transform: translate(50%, -50%) scale(1);
    -ms-transform: translate(50%, -50%) scale(1);
    -o-transform: translate(50%, -50%) scale(1);
    transform: translate(50%, -50%) scale(1);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(50%, -50%) scale(1.25);
    -moz-transform: translate(50%, -50%) scale(1.25);
    -ms-transform: translate(50%, -50%) scale(1.25);
    -o-transform: translate(50%, -50%) scale(1.25);
    transform: translate(50%, -50%) scale(1.25);
  }
}
