border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

transition()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  -o-transition arguments
  transition arguments
  -webkit-backface-visibility hidden
  backface-visibility hidden

transform()
  -webkit-transform arguments
  -moz-transform arguments
  -ms-transform arguments
  -o-transform arguments
  transform arguments

multi-transition()
  args = unquote(arguments)
  transition(args)

unselectable()
  -webkit-touch-callout none /* iOS Safari */
  -webkit-user-select none   /* Chrome/Safari/Opera */
  -khtml-user-select none    /* Konqueror */
  -moz-user-select none      /* Firefox */
  -ms-user-select none       /* IE/Edge */
  -webkit-user-select none   /* disable selection/Copy of UIWebView */
  -webkit-touch-callout none /* disable the IOS popup when long-press on a link */
  user-select none

selectable()
  -webkit-touch-callout: all; /* iOS Safari */
  -webkit-user-select: all;   /* Chrome/Safari/Opera */
  -khtml-user-select: all;    /* Konqueror */
  -moz-user-select: all;      /* Firefox */
  -ms-user-select: all;       /* IE/Edge */
  -webkit-user-select: all; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: all; /* disable the IOS popup when long-press on a link */

broken-border(arguments)
  border-radius(arguments)
  position relative
  &:before, &:after // for broken border effect
    position absolute
    width 5px
    height 80% // fallback for old Android
    height calc(100% \- 30px) // stylus bug: https://github.com/stylus/stylus/issues/687
    top 50%
    transform translate(0, -50%)
    background white
    content ' '
  &:before
    left -2px
  &:after
    right -2px

media_queries = {
  mobile           : 'only screen and (max-width: 400px)',
  narrow           : 'only screen and (max-width: 600px)',
  verticlaire      : 'only screen and (max-width: 775px)',
  small-desktop    : 'only screen and (orientation:landscape) and (max-width: 800px)'
  tablet           : 'only screen and (max-width: 900px)',
  tablet-plus      : 'only screen and (max-width: 1080px)',
  medium           : 'only screen and (max-width: 1300px)',
  full             : 'only screen and (min-width: 1081px)',
  portrait         : 'only screen and (orientation:portrait)',
  landscape        : 'only screen and (orientation:landscape)',
  iphone4landscape : '(min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation:landscape)'
}

for_breakpoint(breakpoints) // http://1pixelout.net/2015/10/02/simple-breakpoint-media-queries-with-stylus/
  conditions = ()
  for breakpoint in breakpoints
    push(conditions, media_queries[breakpoint])
  conditions = join(", ", conditions)
  @media conditions
    {block}

@import url('https://fonts.googleapis.com/css?family=Lato:100italic,300italic,700italic,100,300,900')
@import url('https://fonts.googleapis.com/css?family=Fanwood+Text:400,400italic')
@import url('https://fonts.googleapis.com/css?family=Laila:400&subset=devanagari');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:300,900&subset=devanagari');
@import url('https://fonts.googleapis.com/earlyaccess/notosansmalayalamui.css')

@font-face {
  font-family: 'fontello';
  src: url('../fonts/icons/fontello.eot?20141070');
  src: url('../fonts/icons/fontello.eot?20141070#iefix') format('embedded-opentype'),
       url('../fonts/icons/fontello.woff2?20141070') format('woff2'),
       url('../fonts/icons/fontello.woff?20141070') format('woff'),
       url('../fonts/icons/fontello.ttf?20141070') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Generated by Fontie - the magic webfont generator <http://fontie.flowyapps.com> */
@font-face {
	font-family:'Keraleeyam';
	src: url('../fonts/ml/Keraleeyam.eot');
	src: local('Keraleeyam'),
       url('../fonts/ml/Keraleeyam.eot?#iefix') format('embedded-opentype'),
		   url('../fonts/ml/Keraleeyam.woff') format('woff'),
	     url('../fonts/ml/Keraleeyam.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+000D-0D7E;
}
@font-face {
    font-family: "Hanazono Mincho";
    src: url("../fonts/jp/HanaMinA.eot"); /* IE9 */
    src: local('HanaMinA'),
         url("../fonts/jp/HanaMinA.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../fonts/jp/HanaMinA.woff") format("woff"), /* chrome, firefox */
         url("../fonts/jp/HanaMinA.ttf") format("truetype"); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
         url("../fonts/jp/HanaMinA.svg#Hanazono Mincho") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "cwTeXQMing";
    src: url("../fonts/zh/cwTeXQMing-Medium.eot"); /* IE9 */
    src: url("../fonts/zh/cwTeXQMing-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../fonts/zh/cwTeXQMing-Medium.woff") format("woff"), /* chrome, firefox */
         url("../fonts/zh/cwTeXQMing-Medium.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
         url("../fonts/zh/cwTeXQMing-Medium.svg#cwTeXQMing") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "AR PL UMing CN";
    src: url("../fonts/zh/uming0.eot"); /* IE9 */
    src: url("../fonts/zh/uming0.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../fonts/zh/uming0.woff") format("woff"), /* chrome, firefox */
         url("../fonts/zh/uming0.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
         url("../fonts/zh/uming0.svg#AR PL UMing CN") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Nanum Myeongjo";
    src: url("../fonts/kr/NanumMyeongjo-Regular.eot"); /* IE9 */
    src: local("Nanum Myeongjo"),
         url("../fonts/kr/NanumMyeongjo-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
         url("../fonts/kr/NanumMyeongjo-Regular.woff") format("woff"), /* chrome, firefox */
         url("../fonts/kr/NanumMyeongjo-Regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
         url("../fonts/kr/NanumMyeongjo-Regular.svg#Nanum Myeongjo") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}

$lato = 'Lato', 'Lucida Sans Unicode', 'Lucida Sans', 'Helvetica Neue', 'Helvetica', sans-serif
$fanwood = 'Fanwood Text', 'Fanwood', serif
$mono = 'Menlo', 'Monaco', 'Consolas', monospace
$icons = 'fontello'
$icon-check = '\e800'
$icon-zoom = '\e801'
$icon-magic = '\e802'
$icon-help = '\e803'
$icon-left = '\e804'
$icon-right = '\e805'
$icon-up = '\e806'
$icon-down = '\e807'
$icon-copy = '\e808'
$icon-minus = '\e809'
$icon-cross = '\e80a'
$icon-hand = '\e80b'
$icon-external = '\e80c'
$icon-menu = '\e80d'
$icon-mic = '\e80e'

$purple1 = #ECE9FF
$purple2 = #DBD4FF
$purple3 = #C0B3FF
$purple4 = #9081DE
$purple5 = #685f99
$purple6 = #332f42

$green1 = #E5F9CA
$green2 = #D0F0A4
$green3 = #BAE481
$green4 = #A4D462
$green5 = #8EC146

$orange1 = #FFF5D6
$orange2 = #FCE0A4
$orange3 = #F6C475
$orange4 = #EDA14A

$pink1 = #FFE3E8
$pink2 = #FFC2CE
$pink3 = #FFA1B5
$pink4 = #FF809E

plain_intl_sans_fallback()
  // Try to fall back to system default sans-serifs that have ExtraLight weights if possible, otherwise @import.
  &:lang(jp) // Heiti SC is acceptable for Japanese given the narrow range of sans-serif Japanese glyphs required in the app
    font-family 'Lato', 'Kozuka Gothic Pro', 'Source Han Sans JP', 'Heiti SC', 'STHeitiSC', 'Hiragino Gothic Pro', 'Arial', 'Helvetica', sans-serif
    -webkit-text-stroke-width 0
  &:lang(kr)
    font-family 'Lato', 'Apple SD Gothic Neo', 'Nanum Gothic', 'Source Han Sans KR', 'Arial', 'Helvetica', sans-serif
    -webkit-text-stroke-width 0
  &:lang(zh-CN)
    font-family 'Lato', "Source Han Sans SC", 'Source Han Sans', "PingFang SC", 'Heiti SC', 'STHeitiSC', "Hiragino Sans GB", 'STXihei', "华文细黑", 'SimHei', 'Microsoft YaHei', '微软雅黑', sans-serif
    -webkit-text-stroke-width 0
  &:lang(zh-TW)
    font-family 'Lato', 'Source Han Sans TWHK', 'Source Han Sans', "Lantinghei TC", "PingFang TC", 'Heiti TC', 'STHeitiTC', 'Arial', 'Helvetica', sans-serif
    -webkit-text-stroke-width 0
  &:lang(ml)
    font-family 'Noto Sans Malayalam', 'Noto Sans Malayalam UI', 'Lato', sans-serif
    -webkit-text-stroke-width 0
