footer
  p &copy; 2016 Culture Unplugged Labs, Inc. All rights reserved.
    span.extra
      | &nbsp;&bull;&nbsp;
      a(href='about.html') About
      | &nbsp;&bull;&nbsp;
      a(href='mailto:claire@culabs.org') Contact
      | &bull;&nbsp;
      a(href='about.html#legal') Terms & Privacy
