.full
  a.active(href='#', lang='en', v-on:mouseover='switchLang("en")', v-on:touchstart.prevent='switchLang("en")') English
  a(href='#', lang='de', v-on:mouseover='switchLang("de")', v-on:touchstart.prevent='switchLang("de")') Deutsch
  a(href='#', lang='es', v-on:mouseover='switchLang("es")', v-on:touchstart.prevent='switchLang("es")') Español
  a(href='#', lang='fr', v-on:mouseover='switchLang("fr")', v-on:touchstart.prevent='switchLang("fr")') Français
  a(href='#', lang='pt', v-on:mouseover='switchLang("pt")', v-on:touchstart.prevent='switchLang("pt")') Português
  a(href='#', lang='jp', v-on:mouseover='switchLang("jp")', v-on:touchstart.prevent='switchLang("jp")') 日本語
  a(href='#', lang='kr', v-on:mouseover='switchLang("kr")', v-on:touchstart.prevent='switchLang("kr")') 한국어
  a(href='#', lang='zh-CN', v-on:mouseover='switchLang("zh-CN")', v-on:touchstart.prevent='switchLang("zh-CN")') 简体中文
  a(href='#', lang='zh-TW', v-on:mouseover='switchLang("zh-TW")', v-on:touchstart.prevent='switchLang("zh-TW")') 繁體中文
  a(href='#', lang='hi', v-on:mouseover='switchLang("hi")', v-on:touchstart.prevent='switchLang("hi")') हिंदी
  a(href='#', lang="ml", v-on:mouseover='switchLang("ml")', v-on:touchstart.prevent='switchLang("ml")') മലയാളം
.short
  a.active(href='#', lang='en', v-on:mouseover='switchLang("en")', v-on:touchstart.prevent='switchLang("en")') Eng
  a(href='#', lang='de', v-on:mouseover='switchLang("de")', v-on:touchstart.prevent='switchLang("de")') Deu
  a(href='#', lang='es', v-on:mouseover='switchLang("es")', v-on:touchstart.prevent='switchLang("es")') Esp
  a(href='#', lang='fr', v-on:mouseover='switchLang("fr")', v-on:touchstart.prevent='switchLang("fr")') Fra
  a(href='#', lang='pt', v-on:mouseover='switchLang("pt")', v-on:touchstart.prevent='switchLang("pt")') Por
  a(href='#', lang='jp', v-on:mouseover='switchLang("jp")', v-on:touchstart.prevent='switchLang("jp")') 日
  a(href='#', lang='kr', v-on:mouseover='switchLang("kr")', v-on:touchstart.prevent='switchLang("kr")') 한
  a(href='#', lang='zh-CN', v-on:mouseover='switchLang("zh-CN")', v-on:touchstart.prevent='switchLang("zh-CN")') 简
  a(href='#', lang='zh-TW', v-on:mouseover='switchLang("zh-TW")', v-on:touchstart.prevent='switchLang("zh-TW")') 繁
  a(href='#', lang='hi', v-on:mouseover='switchLang("hi")', v-on:touchstart.prevent='switchLang("hi")') हि
  a(href='#', lang="ml", v-on:mouseover='switchLang("ml")', v-on:touchstart.prevent='switchLang("ml")') മ
